.card-width {
  width: 18rem;
}
.card-color {
  color: #016399 !important;
}
.card-title {
  font-size: 1.5rem;
}
.card-footer {
  font-size: 0.9rem;
}
.card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.card-border {
  border: 1px solid transparent !important;
  border-radius: 10px;
}
.card-image{
  width: 100%;
  /* height: auto; */
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
}
@media (min-width: 577px) {
  .card-width {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .card-width{
    width: 18rem;
  }
}