.bg{
    background-color: #366DCA;
}
.text-color{
    color: white;
}
.padding{
    padding: 5rem;
}
.no-margin{
    margin: 0 !important;
}
@media (max-width:768px) {
    .dummy{
        display: none;
    }
}

.bg-carousel {
    background-color: white;
}
.text-color_carousel{
    color: black;
}