.text * {
    font-family: 'Poppins', sans-serif;
}
.height{
    min-height: 100vh;
}
.link{
    text-decoration: underline;
    color: #016399;
}
.rejected{
    color: red;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.small{
    font-size: small;
}